{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
  $(function() {
    var send = function() {
        var func = $(this).attr("id");
	$.get($SCRIPT_ROOT + '/' + func );
    };
  $('.cmd').bind('mousedown', send);
  $('#small').bind('click', function() {
        $('.main').width($('.main').width()/1.5);
        // var padding = parseInt($('.main').css( "padding-left"))/1.5;
        // $('.main').css( "padding-left", padding.toString() );
  } );
  $('#large').bind('click', function() {
        $('.main').width($('.main').width()*1.5);
        // var padding = parseInt($('.main').css( "padding-left"))*1.5;
        // $('.main').css( "padding-left", padding.toString() );
  } );
  }
  )
</script>
<style>

html, body {
    height: 100%;
    margin: 0;
}
.button {
    width: 100%;
}
.video_feed {
    float: left;
    width: 50%;
}
.main {
    width: 100%;
}
.container {
    display: table;
    float: left;
    padding-left: 0;
    width: 20%;
}
.center {
//    display: table-cell;
    display: table;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.arrow-left {
    display: table-cell;
//    float: left;
    width: 33%;
}
.arrow-centre {
    display: table-cell;
//    float: left;
    width: 33%;
}
.arrow-right {
    display: table-cell;
//    float: left;
    width: 33%;
}
a {
    opacity: 0.5;
}
a:hover {
    opacity: 1;
}


//// html, body {
//// 	height:100%;
//// 	margin:0;
//// }
//// 
//// // img { width:100%; }
//// .button { width:100%; }
//// 
//// .video_feed {
////    // position:absolute;
////    width:inherit;
//// }
//// 
//// .main {
//// 	// height:100%;
//// 	width:100%;
//// }
//// 
//// .container {
//// 	display:table;
////         width: 70%;
////         padding-left: 15%;
////         // float:right;
//// }
//// 
//// .center {
//// 	display:table-cell;
//// 	height:100%;
//// 	width: 100%;
//// 	vertical-align:middle;
//// }
//// 
//// .arrow-left {
//// float: left;
//// width:33%;
//// }
//// 
//// .arrow-centre {
//// float: left;
//// width:33%;
//// }
//// 
//// .arrow-right {
//// float: left;
//// width:33%;
//// }
//// 
//// a {
////  opacity:0.5;
//// }
//// 
//// a:hover {
////  opacity:1;
//// }

</style>

<!-- h1>Pi Car</h1 -->

<div class="main">
  <div class="buttons">
    <button id="small">-</button>
    <button id="large">+</button>
    <button class="cmd" id="selfDrive">auto</button>
    <button class="cmd" id="manualDrive">manual</button>
    <!--
    <button class="cmd" id="camCentre">cam centre</button>
    <button class="cmd" id="panL">cam left</button>
    <button class="cmd" id="panR">cam right</button>
    <button class="cmd" id="tiltU">cam up</button>
    <button class="cmd" id="tiltD">cam down</button>
    -->
  </div>
  <img class="video_feed" src="http://raspberrypi:9090/stream/video.mjpeg" width="640" height="480"/>
  <div class="container">
    <div class="center">
      <div class="top-row">
	<div class="arrow-left"><a class="cmd" id="leftL"><img class="button" src="/static/arrow-leftL.png" alt="leftL"></a></div>
	<div class="arrow-centre"><a class="cmd" id="forward"><img class="button" src="/static/arrow-top.png" alt="forward"></a></div>
	<div class="arrow-right"><a class="cmd" id="rightL"><img class="button" src="/static/arrow-rightL.png" alt="rightL"></a></div>
      </div>
      <div class="middle-row">
	<div class="arrow-left"><a class="cmd" id="left"><img class="button" src="/static/arrow-left.png" alt="left"></a></div>
	<div class="arrow-centre"><a  class="cmd" id="stop"><img class="button" src="/static/btn-stop.png" alt="stop"></a></div>
	<div class="arrow-right"><a class="cmd" id="right"><img class="button" src="/static/arrow-right.png" alt="right"></a></div>
      </div>
      <div class="bottom-row">
	<div class="arrow-left"><a class="cmd" id="leftU"><img class="button" src="/static/arrow-leftU.png" alt="leftU"></a></div>
	<div class="arrow-centre"><a class="cmd" id="reverse"><img class="button" src="/static/arrow-down.png" alt="reverse"></a></div>
	<div class="arrow-right"><a class="cmd" id="rightU"><img class="button" src="/static/arrow-rightU.png" alt="rightU"></a></div>
      </div>
    </div>
    <div class="center">
      <div class="top-row">
	<div class="arrow-left"></div>
	<div class="arrow-centre"><a class="cmd" id="tiltU"><img class="button" src="/static/camera-up.png" alt="camera up"></a></div>
	<div class="arrow-right"></div>
      </div>
      <div class="middle-row">
	<div class="arrow-left"><a class="cmd" id="panL"><img class="button" src="/static/camera-left.png" alt="camera left"></a></div>
	<div class="arrow-centre"><a  class="cmd" id="camCentre"><img class="button" src="/static/camera-center.png" alt="camera center"></a></div>
	<div class="arrow-right"><a class="cmd" id="panR"><img class="button" src="/static/camera-right.png" alt="camera right"></a></div>
      </div>
      <div class="bottom-row">
	<div class="arrow-left"></div>
	<div class="arrow-centre"><a class="cmd" id="tiltD"><img class="button" src="/static/camera-down.png" alt="camera down"></a></div>
	<div class="arrow-right"></div>
      </div>
    </div>
  </div>

    
</div>
{% endblock %}

