{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
  $(function() {
    var send = function() {
        var func = $(this).attr("id");
	$.get($SCRIPT_ROOT + '/' + func );
    };
  $('.cmd').bind('mousedown', send);
  $('#small').bind('click', function() {
        $('.main').width($('.main').width()/1.5);
        // var padding = parseInt($('.main').css( "padding-left"))/1.5;
        // $('.main').css( "padding-left", padding.toString() );
  } );
  $('#large').bind('click', function() {
        $('.main').width($('.main').width()*1.5);
        // var padding = parseInt($('.main').css( "padding-left"))*1.5;
        // $('.main').css( "padding-left", padding.toString() );
  } );
  }
  )
</script>
<style>


html, body {
	height:100%;
	margin:0;
}

// img { width:100%; }
.button { width:100%; }

.video_feed {
   position:absolute;
   width:inherit;
}

.main {
	// height:100%;
	width:100%;
}

.container {
	display:table;
        width: 70%;
        padding-left: 15%;
        // float:right;
}

.center {
	display:table-cell;
	height:100%;
	width: 100%;
	vertical-align:middle;
}

.arrow-top, .arrow-down {
	clear:both;
        text-align:center;
        padding-left: 33%;
        padding-right: 33%;
	width:33%;
}

.aa-middle-row {
	float: left;
        margin-left: 5%;
        margin-right: 5%;
	width:90%;
}

.arrow-left {
float: left;
width:33%;
}

.stop {
float: left;
width:33%;
}

.arrow-right {
float: left;
width:33%;
}

a {
 opacity:0.5;
}

a:hover {
 opacity:1;
}

</style>

<!-- h1>Pi Car</h1 -->

<div class="main">
  <div class="buttons">
    <button id="small">-</button>
    <button id="large">+</button>
  </div>
  <img class="video_feed" src="{{ url_for('video_feed') }}"/>
  <div class="container">
    <div class="center">
      <div class="arrow-top"><a class="cmd" id="forward"><img class="button" src="/static/arrow-top.png" alt="forward"></a></div>
      <div class="middle-row">
	<div class="arrow-left"><a class="cmd" id="left"><img class="button" src="/static/arrow-left.png" alt="left"></a></div>
	<div class="stop"><a  class="cmd" id="stop"><img class="button" src="/static/btn-stop.png" alt="stop"></a></div>
	<div class="arrow-right"><a class="cmd" id="right"><img class="button" src="/static/arrow-right.png" alt="right"></a></div>
      </div>
      <div class="arrow-down"><a class="cmd" id="reverse"><img class="button" src="/static/arrow-down.png" alt="reverse"></a></div>
    </div>
  </div>
</div>
{% endblock %}

